<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="st.myc.shop.dao.tbOrderNotice.TbOrderNoticeMapper" >
  <resultMap id="BaseResultMap" type="st.myc.shop.entity.TbOrderNotice" >
    <id column="NOTICE_ID" property="noticeId" jdbcType="INTEGER" />
    <result column="NOTICE_SN" property="noticeSn" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="MONEY" property="money" jdbcType="DOUBLE" />
    <result column="OUTER_NOTICE_SN" property="outerNoticeSn" jdbcType="VARCHAR" />
    <result column="IS_PAID" property="isPaid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    NOTICE_ID, NOTICE_SN, CREATE_TIME, PAY_TIME, ORDER_ID, MONEY, OUTER_NOTICE_SN, IS_PAID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_order_notice
    where NOTICE_ID = #{noticeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_order_notice
    where NOTICE_ID = #{noticeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="st.myc.shop.entity.TbOrderNotice" >
    insert into tb_order_notice (NOTICE_ID, NOTICE_SN, CREATE_TIME, 
      PAY_TIME, ORDER_ID, MONEY, 
      OUTER_NOTICE_SN, IS_PAID)
    values (#{noticeId,jdbcType=INTEGER}, #{noticeSn,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}, 
      #{outerNoticeSn,jdbcType=VARCHAR}, #{isPaid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="noticeId" parameterType="st.myc.shop.entity.TbOrderNotice" >
    insert into tb_order_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        NOTICE_ID,
      </if>
      <if test="noticeSn != null" >
        NOTICE_SN,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="outerNoticeSn != null" >
        OUTER_NOTICE_SN,
      </if>
      <if test="isPaid != null" >
        IS_PAID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        #{noticeId,jdbcType=INTEGER},
      </if>
      <if test="noticeSn != null" >
        #{noticeSn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="outerNoticeSn != null" >
        #{outerNoticeSn,jdbcType=VARCHAR},
      </if>
      <if test="isPaid != null" >
        #{isPaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="st.myc.shop.entity.TbOrderNotice" >
    update tb_order_notice
    <set >
      <if test="noticeSn != null" >
        NOTICE_SN = #{noticeSn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DOUBLE},
      </if>
      <if test="outerNoticeSn != null" >
        OUTER_NOTICE_SN = #{outerNoticeSn,jdbcType=VARCHAR},
      </if>
      <if test="isPaid != null" >
        IS_PAID = #{isPaid,jdbcType=INTEGER},
      </if>
    </set>
    where NOTICE_ID = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="st.myc.shop.entity.TbOrderNotice" >
    update tb_order_notice
    set NOTICE_SN = #{noticeSn,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      ORDER_ID = #{orderId,jdbcType=INTEGER},
      MONEY = #{money,jdbcType=DOUBLE},
      OUTER_NOTICE_SN = #{outerNoticeSn,jdbcType=VARCHAR},
      IS_PAID = #{isPaid,jdbcType=INTEGER}
    where NOTICE_ID = #{noticeId,jdbcType=INTEGER}
  </update>
  <select id="selectByOrderId" resultType="st.myc.shop.entity.TbOrderNotice">
  select *
  from tb_order_notice
  where ORDER_ID = #{orderId}
  order by CREATE_TIME desc
  </select>
</mapper>